.chat
  .chat__title
    .chats
      .chats__name
        テスト
      .chats__member
        Member：masa
    .chat__title__edit-button
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: ' type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa','image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'